@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600&display=swap');

body{
  font-family:'Martel Sans', sans-serif; 
  width: 100vw;
  overflow-x: hidden;
}

.app{
  background-color: #111;
}